<!-- Testimonial Start -->
<section class="body bg-primary">
  <div class="container">
      <h1 class="section-header p-3"><b>Testimonial</b></h1>
      <p class=" text-center text-white">What people say</p>
      <div class="testimonial-view">
          <div id="testimonialCarousel" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                  <div class="carousel-item active">
                      <div class="testimonial-block">
                          <div class="row">
                              <div class="col-md-5">
                                  <div class="testimonial-block_user">
                                      <div class="testimonial-block_user_image">
                                          <img src="https://i.imgur.com/R63flEo.jpg" alt="User">
                                      </div>
                                      <div class="testimonial-block_user_info">
                                          <h3 class="testimonial-block_user_info_name">Krishna</h3>
                                          <h4>Customer</h4>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="testimonial-block_content">
                                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
                                          consequuntur repellendus nemo suscipit explicabo veniam similique
                                          quaerat vitae! Alias reprehenderit aliquam temporibus porro iste
                                          corrupti laboriosam nihil eos? Nemo ratione, provident! Suscipit,
                                          accusantium. Molestias, reiciendis, in nihil perferendis similique
                                          voluptas aliquam, nisi consectetur eum, atque nemo sint. Nostrum,
                                          reprehenderit, quod.</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="carousel-item">
                      <div class="testimonial-block">
                          <div class="row">
                              <div class="col-md-5">
                                  <div class="testimonial-block_user">
                                      <div class="testimonial-block_user_image">
                                          <img src="https://i.imgur.com/G8pFZ8p.jpg" alt="User">
                                      </div>
                                      <div class="testimonial-block_user_info">
                                          <h3 class="testimonial-block_user_info_name">Himanshu</h3>
                                          <h4>Customer</h4>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="testimonial-block_content">
                                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
                                          consequuntur repellendus nemo suscipit explicabo veniam similique
                                          quaerat vitae! Alias reprehenderit aliquam temporibus porro iste
                                          corrupti laboriosam nihil eos? Nemo ratione, provident! Suscipit,
                                          accusantium. Molestias, reiciendis, in nihil perferendis similique
                                          voluptas aliquam, nisi consectetur eum, atque nemo sint. Nostrum,
                                          reprehenderit, quod.</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="carousel-item">
                      <div class="testimonial-block">
                          <div class="row">
                              <div class="col-md-5">
                                  <div class="testimonial-block_user">
                                      <div class="testimonial-block_user_image">
                                          <img src="https://i.imgur.com/XePzDSG.jpg" alt="User">
                                      </div>
                                      <div class="testimonial-block_user_info">
                                          <h3 class="testimonial-block_user_info_name">Aliya</h3>
                                          <h4>Customer</h4>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="testimonial-block_content">
                                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
                                          consequuntur repellendus nemo suscipit explicabo veniam similique
                                          quaerat vitae! Alias reprehenderit aliquam temporibus porro iste
                                          corrupti laboriosam nihil eos? Nemo ratione, provident! Suscipit,
                                          accusantium. Molestias, reiciendis, in nihil perferendis similique
                                          voluptas aliquam, nisi consectetur eum, atque nemo sint. Nostrum,
                                          reprehenderit, quod.</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <a class="carousel-control-prev" href="#testimonialCarousel" role="button" data-slide="prev"
                  style="color: black;">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only" style="color: black;">Previous</span>
              </a>
              <a class="carousel-control-next" href="#testimonialCarousel" role="button" data-slide="next"
                  style="color: black;">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
              </a>
          </div>
      </div>
  </div>
</section>
<!-- Testimonial End -->
