 <!-- Project Service's Card Start -->
 <main>
  <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
      <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
          <div class="col">
              <div class="card h-100 shadow-sm"> <img src="assets/images/services/style1/1.png"
                      class="card-img-top pt-3 p-lg-5 p-sm-4 w-15" alt="...">
                  <div class="card-body text-center">
                      <h5 class="card-title"><a href="#" style="text-decoration: none; color: #000000;">IT
                              Management</a> </h5>
                      <div class="card-text">Quisque placerat vitae lacus ut scelerisque fusce luctus odio ac
                          nibh luctu.</div>


                  </div>
              </div>
          </div>
          <div class="col">
              <div class="card h-100 shadow-sm"> <img src="assets/images/services/style1/2.png"
                      class="card-img-top pt-3 p-lg-5 p-sm-4 w-15" alt="...">
                  <div class="card-body text-center">
                      <h5 class="card-title"><a href="#" style="text-decoration: none; color: #000000;">Cloud
                              Services</a> </h5>

                      <div class="card-text">Quisque placerat vitae lacus ut scelerisque fusce luctus odio ac
                          nibh luctu.</div>

                  </div>
              </div>
          </div>
          <div class="col">
              <div class="card h-100 shadow-sm"> <img src="assets/images/services/style1/3.png"
                      class="card-img-top pt-3 p-lg-5 p-sm-4 w-15" alt="...">
                  <div class="card-body text-center">
                      <h5 class="card-title"><a href="#" style="text-decoration: none; color: #000000;">Data
                              Security</a> </h5>
                      <div class="card-test">Quisque placerat vitae lacus ut scelerisque fusce luctus odio ac
                          nibh luctu.</div>
                      <div class="clearfix mb-1"> <span class="float-start"></span> <span class="float-end"></span> </div>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="card h-100 shadow-sm"> <img src="assets/images/services/style1/4.png"
                      class="card-img-top pt-3 p-lg-5 p-sm-4 w-15" alt="...">
                  <div class="card-body text-center">
                      <h5 class="card-title"><a href="#" style="text-decoration: none; color: #000000;">Machine
                              Learning</a> </h5>
                      <div class="card-text">Quisque placerat vitae lacus ut scelerisque fusce luctus odio ac
                          nibh luctu.</div>
                      <div class="clearfix mb-1"> <span class="float-start"></span> <span class="float-end"></span> </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</main>
<!-- Project Service's Card Start -->


