<!-- About Section Start -->
<section>
  <div class="about-section">
    <div class="container">
      <div class="about-title text-center p-md-2 mb-30">
        <h2>
          About Us
        </h2>

      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-12 col-xxl-6">
          <figure>
            <img src="assets/images/about/technbiz.jpg" alt="" srcset="" class="img-fluid ">
          </figure>
        </div>
        <div class="col-lg-6 col-md-6 col-12 col-xxl-6">
          <h3>We Are Increasing Business Success With Technology</h3>
          <p>Over 25 years working in IT services developing software applications and mobile apps for
            clients all over the world.
            We denounce with righteous indignation and dislike men who are so beguiled and demoralized
            by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the
            pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their
            duty through weakness of will, which is the same as saying.</p>
          <button type="button" class="btn btn-outline-info" data-bs-toggle="tooltip" data-bs-placement="right"
            title="Click Here" style="    background-image: linear-gradient(
                  250deg, #4e95ed 19%, #03228f 100%); color: #ffffff; ">Learn More</button>
        </div>



      </div>
    </div>
  </div>


</section>
<!------ Include the above in your HEAD tag ---------->
<div class="container">
  <div class="row blog text-center">
    <h1>
      <div class="animated  text-center">Expert IT Consultants
      </div>
    </h1>
    <div class="col-md-12">
      <div id="blogCarousel" class="carousel slide" data-ride="carousel">

        <ol class="carousel-indicators">
          <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#blogCarousel" data-slide-to="1"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="our-team">
                  <div class="pic">
                    <img src="https://i.ibb.co/L8Pj1mg/o6EuTCT6.jpg">
                  </div>
                  <div class="team-content">
                    <h3 class="title">Dana ROBINSON</h3>
                    <span class="post">Marketing Consultant</span>
                  </div>
                  <ul class="social">
                    <li>
                      <a href="#" class="fa fa-envelope"></a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="our-team">
                  <div class="pic">
                    <img src="https://i.ibb.co/L8Pj1mg/o6EuTCT6.jpg">
                  </div>
                  <div class="team-content">
                    <h3 class="title">Dr. Bernard COVA</h3>
                    <span class="post">Marketing - Auteur</span>
                  </div>
                  <ul class="social">
                    <li>
                      <a href="#" class="fa fa-envelope"></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="our-team">
                  <div class="pic">
                    <img src="https://i.ibb.co/L8Pj1mg/o6EuTCT6.jpg">
                  </div>
                  <div class="team-content">
                    <h3 class="title">Dr. Francis Guilbert</h3>
                    <span class="post">Docteur - Chercheur</span>
                  </div>
                  <ul class="social">
                    <li>
                      <a href="#" class="fa fa-envelope"></a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="our-team">
                  <div class="pic">
                    <img src="https://i.ibb.co/L8Pj1mg/o6EuTCT6.jpg">
                  </div>
                  <div class="team-content">
                    <h3 class="title">Dr. Georges WANET</h3>
                    <span class="post">Docteur</span>
                  </div>
                  <ul class="social">
                    <li>
                      <a href="#" class="fa fa-envelope"></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!--.row-->
          </div>
          <!--.item-->

          <div class="carousel-item">
            <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="our-team">
                  <div class="pic">
                    <img src="https://i.ibb.co/L8Pj1mg/o6EuTCT6.jpg">
                  </div>
                  <div class="team-content">
                    <h3 class="title">Ted SICHELMAN</h3>
                    <span class="post">Law expert</span>
                  </div>
                  <ul class="social">
                    <li>
                      <a href="#" class="fa fa-envelope"></a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="our-team">
                  <div class="pic">
                    <img src="https://i.ibb.co/L8Pj1mg/o6EuTCT6.jpg">
                  </div>
                  <div class="team-content">
                    <h3 class="title">Dr. Noël ALBERT</h3>
                    <span class="post">Marketing Consultant</span>
                  </div>
                  <ul class="social">
                    <li>
                      <a href="#" class="fa fa-envelope"></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="our-team">
                  <div class="pic">
                    <img src="https://i.ibb.co/L8Pj1mg/o6EuTCT6.jpg">
                  </div>
                  <div class="team-content">
                    <h3 class="title">Dr. Saverio TOMASELLA</h3>
                    <span class="post">Auteur et Chercheur - Brand Psychoanalysis</span>
                  </div>
                  <ul class="social">
                    <li>
                      <a href="#" class="fa fa-envelope"></a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="our-team">
                  <div class="pic">
                    <img src="https://i.ibb.co/L8Pj1mg/o6EuTCT6.jpg">
                  </div>
                  <div class="team-content">
                    <h3 class="title">Ray BENEDICKTUS</h3>
                    <span class="post">Experienced Marketing Consultant</span>
                  </div>
                  <ul class="social">
                    <li>
                      <a href="#" class="fa fa-envelope"></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!--.row-->
          </div>
          <!--.item-->

        </div>
        <!--.carousel-inner-->
      </div>
      <!--.Carousel-->

    </div>
  </div>
</div>
<!---About Section End-->
