 <!-- Our Clients Start -->
 <section>
  <div class="client-sec">
      <div class="container h-100">
          <div class="row align-items-center h-100">
              <div class="container rounded">
                  <h2 class="text-center">Clients</h2>
                  <p class="text-center">Some of our Best:</p>
                  <div class="slider">
                      <div class="logos text-center" style="display: flex; justify-content: flex-start;">
                          <a href="#"><img src="assets/images/client logo/desipaisa-removebg-preview.png" alt="">
                              <p>Desipaisa</p>
                          </a>
                          <a href="#"><img src="assets/images/client logo/indusriva-removebg-preview.png" alt="">
                              <p>Indusriva</p>
                          </a>

                          <a href="#"><img src="assets/images/client logo/jaigranexpo-removebg-preview.png" alt="">
                              <p>Jaigranexpo</p>
                          </a>

                          <a href="#"><img src="assets/images/client logo/manoeuvre-removebg-preview.png" alt="">
                              <p>Manoeuvre</p>
                          </a>



                          <a href="#"><img src="assets/images/client logo/silaroche-removebg-preview.png" alt="">
                              <p>Silaroche</p>
                          </a>

                          <a href="#"><img src="assets/images/client logo/sntpl-removebg-preview.png" alt="">
                              <p>SNTPL</p>
                          </a>

                          <a href="#"><img src="assets/images/client logo/SOLERI-TECH-LOGO-05-1-removebg-preview.png" alt="">
                              <p>Soleri Tech</p>
                          </a>
                          <a href="#"><img src="assets/images/client logo/sv-properties-removebg-preview.png" alt="">
                              <p>SV Properties</p>
                          </a>
                          <a href="#"><img src="assets/images/client logo/tarun_security_bureau-removebg-preview.png" alt="">
                              <p>Tarun Security Bureau</p>
                          </a>
                          <a href="#"><img src="assets/images/client logo/margs-removebg-preview (1).png" alt="">
                              <p>Mars Security Training Centre</p>
                          </a>
                          <a href="#"><img src="assets/images/client logo/mr.merchant-removebg-preview.png" alt="">
                              <p>Mr Merchant</p>
                          </a>
                          <a href="#"><img src="assets/images/client logo/Rumuneksha-removebg-preview.png" alt="">
                              <p>Rumuneksha</p>
                          </a>
                          <a href="#"><img src="assets/images/client logo/sandnsafari-removebg-preview.png" alt="">
                              <p>Sandnsafari</p>
                          </a>
                          <a href="#"><img src="assets/images/client logo/melange-removebg-preview.png" alt="">
                              <p>Melange</p>
                          </a>

                      </div>

                  </div>
              </div>
          </div>


      </div>
  </div>

</section>
<!-- Our Clients End -->
