   <!-- Project Service's Card Start -->
 <app-service></app-service>
<!-- Project Service's Card Start -->
  <!-- About Section Start -->
  <section>
    <div class="about-section">
        <div class="container">
            <div class="about-title text-center p-md-2 mb-30">
                <h2>
                    About Us
                </h2>

            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12 col-xxl-6">
                    <figure>
                        <img src="assets/images/about/technbiz.jpg" alt="" srcset="" class="img-fluid ">
                    </figure>
                </div>
                <div class="col-lg-6 col-md-6 col-12 col-xxl-6">
                    <h3>We Are Increasing Business Success With Technology</h3>
                    <p>Over 25 years working in IT services developing software applications and mobile apps for
                        clients all over the world.
                        We denounce with righteous indignation and dislike men who are so beguiled and demoralized
                        by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the
                        pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their
                        duty through weakness of will, which is the same as saying.</p>
                    <button type="button" class="btn btn-outline-info" data-bs-toggle="tooltip"
                        data-bs-placement="right" title="Click Here" style="    background-image: linear-gradient(
                    250deg, #4e95ed 19%, #03228f 100%); color: #ffffff; ">Learn More</button>
                </div>



            </div>
        </div>
    </div>


</section>
<!---About Section End-->
<app-services></app-services>

<div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-3 g-3">
    </div>
</div>
 <!-- Call us Start -->
  <section>
    <div class="call-us bg1 pt-120 md-pt-80" style="background-color: #4e95ed; ">
        <div class="container">
            <div class="row vertical-middle">
                <div class="col-lg-6">
                    <div class="image-part">
                        <img src="assets/contact/contact-here.png" alt="" class="img-fluid"
                            style="max-height: 500px;">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="contact-box text-center" style="margin: 1rem;">
                        <div class="address-item mb-25">
                            <div class="address-icon">
                                <i class="fa fa-phone"></i>
                            </div>
                        </div>
                        <div class="sec-title3 p-2">
                            <span class="sub-text">CALL US 24/7</span>
                            <h3 class="title">(+919) 0040-22267</h3>

                            <p class="desc">Have any idea or project for in your mind call us or schedule a
                                appointment. Our representative will reply you shortly.</p>
                        </div>
                        <div class="btn-part mt-40 md-mb-60">
                            <a class="readon lets-talk" href="contact.html">Let's Talk</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Call us End -->

<!-- Process Section Start -->
<section>
  <div class="process pt-180 pb-120 md-pt-80 md-pb-80" style="padding-top: 2rem;">
      <div class="container bg-white">
          <div class="row align-items-center">
              <div class="col-lg-4 md-mb-40 " style="background-color: #4e95ed;  height: 25rem; border-radius: 5px;">
                  <div class="process-wrap bg3">
                      <div class="sec-title mb-30">
                          <div class="sub-text new p-5 text-white">
                              <p class="h5">Working Process</p>
                          </div>
                          <h4 class="title white-color p-lg-4 text-white">
                              Our Working Process - How We Work For Our Customers
                          </h4>
                      </div>
                      <div class="btn-part mt-40 text-center">
                          <a class="readon learn-more contact-us" href="contact.html">Contact Us</a>
                      </div>

                  </div>
              </div>
              <div class="col-lg-8 pl-30 md-pl-15">
                  <div class="row">
                      <div class="col-lg-6 col-md-6 mb-40">
                          <div class="rs-addon-number">
                              <div class="number-text">
                                  <div class="number-area">
                                      1.
                                  </div>
                                  <div class="number-title">
                                      <h3 class="title"> Discovery</h3>
                                  </div>
                                  <p class="number-txt"> Quisque placerat vitae lacus ut scelerisque. Fusce luctus
                                      odio ac nibh luctus, in porttitor theo lacus egestas.</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6 col-md-6 mb-40">
                          <div class="rs-addon-number">
                              <div class="number-text">
                                  <div class="number-area">
                                      2.
                                  </div>
                                  <div class="number-title">
                                      <h3 class="title">Planning</h3>
                                  </div>
                                  <p class="number-txt">Quisque placerat vitae lacus ut scelerisque. Fusce luctus odio
                                      ac nibh luctus, in porttitor theo lacus egestas.</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6 col-md-6 sm-mb-40">
                          <div class="rs-addon-number">
                              <div class="number-text">
                                  <div class="number-area">
                                      3.
                                  </div>
                                  <div class="number-title">
                                      <h3 class="title">Execute</h3>
                                  </div>
                                  <p class="number-txt">Quisque placerat vitae lacus ut scelerisque. Fusce luctus odio
                                      ac nibh luctus, in porttitor theo lacus egestas.</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6 col-md-6">
                          <div class="rs-addon-number">
                              <div class="number-text">
                                  <div class="number-area">
                                      4.
                                  </div>
                                  <div class="number-title">
                                      <h3 class="title">Deliver</h3>
                                  </div>
                                   <p class="number-txt">Quisque placerat vitae lacus ut scelerisque. Fusce luctus odio
                                      ac nibh luctus, in porttitor theo lacus egestas.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

</section>
<!-- Process Section End -->

<app-blogs></app-blogs>
<app-testimonial></app-testimonial>
<app-client></app-client>
<app-footer></app-footer>
