 <!-- Project Service's Card Start -->
 <section>
  <div class="sec-title2 text-center mb-45">
      <span class="sub-text">Services</span>
      <h2 class="title">
          We Are Offering All Kinds of IT Solutions Services
      </h2>
  </div>
  <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
      <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-3 g-3">
          <div class="col">
              <div class="card h-100 shadow-sm"> <img src="assets/images/services/icons/1.png"
                      class="card-img-top pt-3 p-lg-5 p-sm-4 w-15" alt="...">
                  <div class="card-body text-center">
                      <h5 class="card-title"><a href="#" style="text-decoration: none; color: #000000;">SOFTWARE
                              DEVELOPMENT</a> </h5>
                      <div class="card-title">Quisque placerat vitae lacus ut scelerisque fusce luctus odio ac
                          nibh luctu.</div>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="card h-100 shadow-sm"> <img src="assets/images/services/icons/2.png"
                      class="card-img-top pt-3 p-lg-5 p-sm-4 w-15" alt="...">
                  <div class="card-body text-center">
                      <h5 class="card-title"><a href="#" style="text-decoration: none; color: #000000;">WEB
                              DEVELOPMENT</a> </h5>

                      <div class="card-title">Quisque placerat vitae lacus ut scelerisque fusce luctus odio ac
                          nibh luctu.</div>

                  </div>
              </div>
          </div>
          <div class="col">
              <div class="card h-100 shadow-sm"> <img src="assets/images/services/icons/3.png"
                      class="card-img-top pt-3 p-lg-5 p-sm-4 w-15" alt="...">
                  <div class="card-body text-center">
                      <h5 class="card-title"><a href="#" style="text-decoration: none; color: #000000;">ANALYTIC
                              SOLUTIONS</a> </h5>
                      <div class="card-title">Quisque placerat vitae lacus ut scelerisque fusce luctus odio ac
                          nibh luctu.</div>
                      <div class="clearfix mb-1"> <span class="float-start"></span> <span class="float-end"></span> </div>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="card h-100 shadow-sm"> <img src="assets/images/services/icons/4.png"
                      class="card-img-top pt-3 p-lg-5 p-sm-4 w-15" alt="...">
                  <div class="card-body text-center">
                      <h5 class="card-title"><a href="#" style="text-decoration: none; color: #000000;">CLOULD &
                              DEVOPS</a> </h5>
                      <div class="card-title">Quisque placerat vitae lacus ut scelerisque fusce luctus odio ac
                          nibh luctu.</div>
                      <div class="clearfix mb-1"> <span class="float-start"></span> <span class="float-end"></span> </div>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="card h-100 shadow-sm"> <img src="assets/images/services/icons/5.png"
                      class="card-img-top pt-3 p-lg-5 p-sm-4 w-15" alt="...">
                  <div class="card-body text-center">
                      <h5 class="card-title"><a href="#" style="text-decoration: none; color: #000000;">PRODUCT &
                              DESIGN</a> </h5>
                      <div class="card-title">Quisque placerat vitae lacus ut scelerisque fusce luctus odio ac
                          nibh luctu.</div>
                      <div class="clearfix mb-1"> <span class="float-start"></span> <span class="float-end"></span> </div>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="card h-100 shadow-sm"> <img src="assets/images/services/icons/6.png"
                      class="card-img-top pt-3 p-lg-5 p-sm-4 w-15" alt="...">
                  <div class="card-body text-center">
                      <h5 class="card-title"><a href="#" style="text-decoration: none; color: #000000;">DATA
                              CENTER</a> </h5>
                      <div class="card-title">Quisque placerat vitae lacus ut scelerisque fusce luctus odio ac
                          nibh luctu.</div>
                      <div class="clearfix mb-1"> <span class="float-start"></span> <span class="float-end"></span> </div>
                  </div>
              </div>
          </div>

      </div>
      <div class="ft text-center">
          <div class="btn btn-primary">Read All Services</div>
      </div>
  </div>
</section>
<!-- Project Service's Card Start -->
